{# upload_job.html #}
{% extends "base.html" %}
{% block content %}
<h1>About Bacon Fuzzer</h1>

<p>
    The Bacon Fuzzer is intended to be a light-weight, open-source tool to enable rapid specification and deployment of
    a fuzzer for specific message formats and data structures. It is not a feature-rich or high fidelity mechanism, and
    is targetted at running against networked or physically local devices or software.
</p>


<h2>Authors</h2>

<p>
    Matthew Pruett (<a href="https://github.com/matthewpruett">matthewpruett</a>)</br>
    Andrew Zeliff (<a href="https://github.com/z3liff">z3liff</a>)</br>
    Anjali Yagnavajhala(<a href="https://github.com/anjaliyag">anjaliyag</a>)</br>
    Hudson Howie (<a href="https://github.com/HudsonHowie">HudsonHowie</a>)</br>
    Jake Ashmore (<a href="https://github.com/lYlantis">lYlantis</a>)</br>
    Jestin Keaton (<a href="https://github.com/jkeaton">jkeaton</a>)</br>
    Justin Hsu (<a href="https://github.com/mellowgeek">mellowgeek</a>)</br>
    Patrick Ogle (<a href="https://github.com/pjo0213">pjo0213</a>)</br>
</p>

<h2>License</h2>
<p>
    Copyright (c) 2024 Georgia Tech Applied Research Corporation and Contributors
</p>
<p>
    Redistribution and use in source and binary forms, with or without modification, are permitted provided that the
    following conditions are met:
</p>
<p>
    1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following
    disclaimer.
</p>
<p>
    2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
    following disclaimer in the documentation and/or other materials provided with the distribution.
</p>
<p>
    3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote
    products derived from this software without specific prior written permission.
</p>
<p>
    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND ANY EXPRESS OR IMPLIED WARRANTIES,
    INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
    SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
    SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
    WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
    OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</p>
{% endblock %}